<footer id="footer" class="footer">
    <div class="footer-inner">
        <div class="copyright">
            &copy;
            <span id="copyright-year">2017</span>
            <span class="author">{{@blog.title}}</span>
            <script>
                document.getElementById('copyright-year').innerText = new Date().getFullYear()
            </script>
        </div>
        <div class="powered-by">
            Powered by
            <a class="theme-link" href="http://ghost.org">Ghost</a>
        </div>
        <div class="theme-info">
            Theme -
            <a class="theme-link" href="https://github.com/iissnan/hexo-theme-next">NexT.Mist</a>
        </div>
    </div>
</footer>
<div class="back-to-top"></div>
