@import 'next'

.pagination {
    text-align: center;
}

.powered-by::after {
  content: "|";
  padding: 0 10px;
}

.post-body .kg-card-markdown {
    font-size: 15px;
}

.post-body hr {
    margin: 25px 0;
}
