@import 'next'

.pagination {
    text-align: center;
}

.powered-by::after {
  content: "|";
  padding: 0 10px;
}

.post-body {
    font-size: 15px;
}

.post-body p {
    line-height: 1.6;
    margin-bottom: 1em;
}

.post-body hr {
    margin: 1.6em 0;
}
